# **Etapa 2: Análisis de datos exploratorio**

En esta práctica realizaremos un poco de análisis de datos exploratorio en la búsqueda de patrones en los datos y así determinar que valores deberíamos usar para realizar predicciones en un futuro.

Veremos si podemos predecir la probabilidad de éxito basandonos en ciertas categorías.

## Objectivos

Realizar un análisis exploratorio de los datos y obtener nuestras primeras conclusiones.

***

## Importación de librerias

In [1]:
import pandas as pd
import numpy as np

### Análisis de datos.

Carga el archivo `.csv` generado en la práctica anterior. Recuerda que primero deberás subir el archivo a google collab.

In [2]:
df=pd.read_csv("./dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,Thaicom,True,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,NASA (CRS),True,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,Orbcomm-OG2-M1,LEO,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,Orbcomm,True,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,AsiaSat 8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,AsiaSat,True,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,AsiaSat 6,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,AsiaSat,True,0,B1011,-80.577366,28.561857

### Tarea 1: Calcula el número de lanzamientos en cada plataforma.

Los datos contienen diferentes plataformas como:


*   El complejo de lanzamiento de Cabo Cañaveral (VAFB SLC 4E)
*   La base de las fuerzas aéreas de Vanderberg (SLC-4E)
* El centro de lanzamientos Kennedy (KSC LC 39A).
Veamos cual de ellas es mas popular:

*Utilizando el método `value_counts()` en la columna `LaunchSite` determina el número de lanzamientos en cada plataforma.*

In [3]:
#INSERTA AQUÍ TU CÓDIGO
df["LaunchSite"].value_counts()

CCSFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

### Tarea 2: Calcula el número de lanzamientos para cada órbita.

Cada lanzamiento tiene como objetivo una órbita diferente, estas son las más comunes:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

*Utilizando el método `value_counts()` en la columna `Orbit` determina el número de lanzamientos en cada órbita.*

In [4]:
#INSERTA AQUÍ TU CÓDIGO
df["Orbit"].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### Tarea 3: Calcula el número de diferentes resultados de aterrizaje, distingue los exitosos de los fallidos.

*Utilizando el método `value_counts()` en la columna `LandingOutcome` determina el número de lanzamientos en cada órbita. Asigna el resultado a la varibale `landing_outcomes`.*

In [6]:
#INSERTA AQUÍ TU CÓDIGO
landing_outcomes=df["LandingOutcome"].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: LandingOutcome, dtype: int64

Observemos que la variable `LandingOutcome` esta separada en 2 partes. 

La primera toma valores `True`,`False` y `None`. 
*   `True` implica que el cohete aterrizó con éxito.
*   `False` implica que el cohete no aterrizó con éxito
* `None` implica que el cohete no inició el aterrizaje.

La segunda parte toma valores `ASDS`,`Ocean`, `RTLS` y `None`.
* `ASDS` implica que el cohete tenía intención de aterrizar sobre un portaaviones.
* `Ocean` implica que el cohete tenía intención de aterrizar en el oceano.
* `RTLS` implica que el cohete tenía intención de aterrizar sobre una plataforma terrestre .
* `None` implica que el cohete no tenía intención de aterrizar.

Vamos a intentar ver que resultado ha tenido cada cohete en las diferentes órbitas.
*Crea un dataframe llamado `df2` con solamente las columnas `'Orbit','LandingOutcome'`. Aplica a este dataframe una agrupación por `'Orbit','LandingOutcome'` mediante `df2.groupby([Columnas])` y añade el atributo `.size()` para ver el número de resultados en cada categoría.

In [10]:
#INSERTA AQUÍ TU CÓDIGO
df2=df[["Orbit","LandingOutcome"]]
df2=df2.groupby(['Orbit','LandingOutcome']).size()
df2

Orbit  LandingOutcome
ES-L1  True Ocean         1
GEO    True ASDS          1
GTO    False ASDS         1
       None ASDS          1
       None None         11
       True ASDS         13
       True Ocean         1
HEO    True ASDS          1
ISS    False ASDS         2
       False Ocean        1
       False RTLS         1
       None ASDS          1
       None None          3
       True ASDS          5
       True Ocean         1
       True RTLS          7
LEO    None None          2
       True Ocean         1
       True RTLS          4
MEO    None None          1
       True ASDS          2
PO     False ASDS         1
       False Ocean        1
       None None          1
       True ASDS          5
       True Ocean         1
SO     None None          1
SSO    True ASDS          2
       True RTLS          3
VLEO   False ASDS         2
       True ASDS         12
dtype: int64

En el resultado del anterior ejercicio podemos observar los diferentes resultados para cada órbita, que pese a ser detallados son confusos. Veamos como solucionar esto.

### Tarea 4: Crea una columna Class utilizando LandingOutcome

Previamente hemos guardado en `landing_outcomes` el recuento de los diferentes aterrizajes:

In [ ]:
print(landing_outcomes)

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: LandingOutcome, dtype: int64

*La variable anterior es un diccionario, utilizandola crea un conjunto con los diferentes casos donde el cohete no aterrizó satisfactoriamente. Llama a este conjunto `bad_outcomes`*

In [20]:
#INSERTA AQUÍ TU CÓDIGO
bad_outcomes=landing_outcomes[[3,5,-1]].keys()
bad_outcomes

Index(['False ASDS', 'False Ocean', 'False RTLS'], dtype='object')

Creemonos ahora una lista llamada `landing_class` que tomará valores 0 y 1 según si el resultado es satisfactorio o no.
* *Recorre para cada celda la columna `LandingOutcome`.*
* *Comprueba si el valor pertenece al conjunto `bad_outcomes`. Si pertenece adjunta un 0 a la lista `landing_class`, si no, adjunta un 1.*

In [29]:
#INSERTA AQUÍ TU CÓDIGO
landing_class=[]
for iter in df["LandingOutcome"]:
  if iter in bad_outcomes:
    landing_class.append(0)
  else:
    landing_class.append(1)

landing_class

[1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

*Añade esta lista al dataframe como una columna con nombre `Class`*

In [30]:
#INSERTA AQUÍ TU CÓDIGO
df['Class']=landing_class
df.head(20)

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,...,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,1
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,1
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,1
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,...,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857,1
5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,Thaicom,True,0,B1005,-80.577366,28.561857,1
6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,False,...,True,NaN,1.0,NASA (CRS),True,0,B1006,-80.577366,28.561857,1
7,8,2014-07-14,Falcon 9,1316.000000,Orbcomm-OG2-M1,LEO,CCSFS SLC 40,True Ocean,1,False,...,True,NaN,1.0,Orbcomm,True,0,B1007,-80.577366,28.561857,1
8,9,2014-08-05,Falcon 9,4535.000000,AsiaSat 8,GTO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,AsiaSat,True,0,B1008,-80.577366,28.561857,1
9,10,2014-09-07,Falcon 9,4428.000000,AsiaSat 6,GTO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,AsiaSat,True,0,B1011,-80.577366,28.561857,1
10,11,2014-09-21,Falcon 9,2216.000000,CRS-4,ISS,CCSFS SLC 40,False Ocean,1,False,...,False,NaN,1.0,NASA (CRS),True,0,B1010,-80.577366,28.561857,0
11,12,2015-01-10,Falcon 9,2395.000000,CRS-5,ISS,CCSFS SLC 40,False ASDS,1,True,...,True,5e9e3032383ecb761634e7cb,1.0,NASA (CRS),True,0,B1012,-80.577366,28.561857,0
12,13,2015-02-11,Falcon 9,570.000000,DSCOVR,ES-L1,CCSFS SLC 40,True Ocean,1,True,...,True,NaN,1.0,"NASA,NOAA,USAF",True,0,B1013,-80.577366,28.561857,1
13,14,2015-04-14,Falcon 9,1898.000000,CRS-6,ISS,CCSFS SLC 40,False ASDS,1,True,...,True,5e9e3032383ecb761634e7cb,1.0,NASA (CRS),True,0,B1015,-80.577366,28.561857,0
14,15,2015-04-27,Falcon 9,4707.000000,TürkmenÄlem 52°E / MonacoSAT,GTO,CCSFS SLC 40,None None,1,False,...,False,NaN,1.0,Turkmenistan National Space Agency,True,0,B1016,-80.577366,28.561857,1
15,16,2015-06-28,Falcon 9,2477.000000,CRS-7,ISS,CCSFS SLC 40,None ASDS,1,True,...,True,5e9e3032383ecb6bb234e7ca,1.0,NASA (CRS),False,0,B1018,-80.577366,28.561857,1
16,17,2015-12-22,Falcon 9,2034.000000,Orbcomm-OG2-M2,LEO,CCSFS SLC 40,True RTLS,1,True,...,True,5e9e3032383ecb267a34e7c7,1.0,Orbcomm,True,0,B1019,-80.577366,28.561857,1
17,18,2016-01-17,Falcon 9,553.000000,Jason-3,PO,VAFB SLC 4E,False ASDS,1,True,...,True,5e9e3033383ecbb9e534e7cc,1.0,"NASA,NOAA",True,0,B1017,-120.610829,34.632093,0
18,19,2016-03-04,Falcon 9,5271.000000,SES-9,GTO,CCSFS SLC 40,False ASDS,1,True,...,True,5e9e3032383ecb6bb234e7ca,1.0,SES,True,0,B1020,-80.577366,28.561857,0
19,20,2016-04-08,Falcon 9,3136.000000,CRS-8,ISS,CCSFS SLC 40,True ASDS,1,True,...,True,5e9e3032383ecb6bb234e7ca,2.0,NASA (CRS),True,1,B1021,-80.577366,28.561857,1

## Utilizando la columna Class.

*Calcula la media de la columna `class`. Razona que significa este valor.*

In [31]:
#INSERTA AQUÍ TU CÓDIGO
df["Class"].mean()
#significa la probabilidad de éxito de las misiones

0.9

Al igual que antes, podemos agrupar los lanzamientos por la órbita.
*Crea df3 donde incluyes las columnas `Orbit` y `Class`. Agrupa por `Orbit` y calcula la media.*

In [33]:
#INSERTA AQUÍ TU CÓDIGO
df3=df[["Orbit","Class"]].groupby(["Orbit"]).mean()
df3

          Class
Orbit
ES-L1  1.000000
GEO    1.000000
GTO    0.962963
HEO    1.000000
ISS    0.809524
LEO    1.000000
MEO    1.000000
PO     0.777778
SO     1.000000
SSO    1.000000
VLEO   0.857143

Observemos que más de una órbita tiene una probabilidad de éxito 1. Entonces ¿Si lanzamos un cohete a esas órbitas 100% aterrizará correctamente?

No tiene por qué, es una buena señal, pero pese a esto no quiere decir que no puede fallar la misión, simplemente tiene un porcentaje de éxito del 100% de momento

Mostremos ahora el número de lanzamientos éxitosos y fallidos en cada órbita. 
*Aplica sobre df3 un método `groupby()` donde agrupes por las columnas `Orbit`y `Class`. Aplica el método `size()` para ralizar el conteo.

In [34]:
#INSERTA AQUÍ TU CÓDIGO
df3=df[["Orbit","Class"]].groupby(["Orbit","Class"]).size()
df3

Orbit  Class
ES-L1  1         1
GEO    1         1
GTO    0         1
       1        26
HEO    1         1
ISS    0         4
       1        17
LEO    1         7
MEO    1         3
PO     0         2
       1         7
SO     1         1
SSO    1         5
VLEO   0         2
       1        12
dtype: int64

Podemos observar que algunas de nuestras órbitas solamente tienen un lanzamiento y este exitoso (otras solamente uno fallido). En estos casos la muestra es demasiado pequeña como para asegurar la probabilidad de éxito solamente basandonos en la órbita. Por tanto, este no parece ser el méjor predictor de la proabilidad de éxito.

Retomemos las variables analizadas anteriormente como el LaunchSite.
*Crea df4 con las columnas `Class` y `LaunchSite`. Aplica un groupby y calcula la probabilidad de éxito para cada plataforma. Observa el número total de éxitos y fracasos en cada plataforma. Razona si sería un mejor predictor que la órbita.*

In [53]:
#INSERTA AQUÍ TU CÓDIGO
df4=df[["Class","LaunchSite"]].groupby(["LaunchSite"]).mean()
df4

                 Class
LaunchSite
CCSFS SLC 40  0.890909
KSC LC 39A    0.954545
VAFB SLC 4E   0.846154

*Exporta los datos en un archivo llamado `dataset_part_2.csv` con `index=False`. 
Descarga el archivo porque será necesario en la siguiente práctica.*